.onboarding {
  display: grid;
  gap: 20px;
  place-content: center;
  text-align: center;
  height: calc(100vh - 75px);

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  form {
    margin-top: 30px;
    display: grid;
    gap: 10px;
    place-content: center;

    label {
      font-weight: 400;
      font-size: 16px;
    }

    input {
      height: 28px;
      padding: 20px 16px;
      width: 300px;
      font-size: 16px;
    }
  }
}
