<app-navbar />
<section class="login_container">
  <h1>Sign in</h1>

  <form action="{{ login }}" id="login_form">
    <div>
      <label for="username">Username*</label>
      <input
        placeholder="EltonJohn"
        name="username"
        id="username"
        type="text"
      />
    </div>

    <div>
      <label for="password">Password*</label>
      <input
        placeholder="********"
        name="password"
        id="password"
        type="password"
      />
    </div>
    <p *ngIf="login_error" class="error">{{ login_error }}</p>

    <button (click)="login($event)" class="button submit">Continue</button>
  </form>

  <a routerLink="/register" class="button">Create an account</a>
</section>
