@import "../../variables";

.landing_container {
  margin-top: 40px;
  padding-inline: 26px;
  display: grid;
  gap: 16px;

  @media (max-width: 450px) {
    padding-inline: 16px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}

.cards_container {
  margin: 70px 0 40px 0;
  padding-inline: 16px;

  ul {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

/* modal */

.dialog {
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;

  img {
    display: flex;
    width: 100px;
    max-width: 100%;
    height: auto;
  }

  ul {
    display: grid;
    gap: 10px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
  padding: 0;
}

@media (min-width: 600px) {
  .dialog::backdrop {
    backdrop-filter: blur(16px) saturate(150%);
  }
}

.dialog[open] {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;

  max-width: calc((100%) - 3em);
  max-height: calc((100%) - 3rem);

  animation-name: dialogIn;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
  background: none;
  background-color: $primary-dark;
  padding: 20px;
  border-radius: 4px;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.container {
  background-color: whitesmoke;
  padding: 1.5rem;
  border-radius: 28px;
  width: 500px;
  border: 1px solid whitesmoke;
}

.close[open] {
  animation-name: dialogOut;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
}

.close::backdrop {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dialogIn {
  from {
    opacity: 0;
    transform: scale(115%);
  }

  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes dialogOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
