@import "../../variables";

.langing_nav {
  max-width: 1400px;
  margin: auto;
  padding-inline: 24px;
  height: 70px;
  align-items: center;
  display: grid;
  border-bottom: 1px solid $primary-border;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;

      span {
        font-size: 24px;
        color: $primary-blue;
      }

      svg {
        margin-left: 6px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        font-size: 16px;
      }
    }
  }
}

.landing_container {
  margin-top: 40px;
  padding-inline: 26px;
  display: grid;
  gap: 16px;

  @media (max-width: 450px) {
    padding-inline: 16px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}

.cards_container {
  margin: 70px 0 40px 0;
  padding-inline: 16px;

  ul {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
