@import "../../variables";

.landing_container {
  margin-top: 40px;
  padding-inline: 26px;
  display: grid;
  gap: 16px;

  @media (max-width: 450px) {
    padding-inline: 16px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}

.cards_container {
  margin: 70px 0 40px 0;
  padding-inline: 16px;

  ul {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    h4 {
      font-size: 24px;
      font-weight: 400;
    }
  }
}

/* modal */

.dialog {
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  border-radius: 16px;

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  h2 {
    margin: 10px 0;
    font-size: 28px;
    text-align: center;
  }

  input {
    height: 48px;
    padding: 10px;
    font-size: 16px;
  }

  div {
    margin: 10px auto;
    display: flex;
    gap: 10px;
  }
}
