<app-navbar />
<section class="landing_container">
  <h1>GuardKey Password Manager</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cumque
    aliquam, eum sunt libero itaque exercitationem ducimus aut minima. Ratione
    dolores maiores praesentium placeat quia alias, reiciendis earum iste non.
  </p>

  <a routerLink="/create-password" class="button submit">
    Add New Password
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.3"
        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
        fill="#171717"
      />
      <path
        d="M16 11.25H12.75V8C12.75 7.59 12.41 7.25 12 7.25C11.59 7.25 11.25 7.59 11.25 8V11.25H8C7.59 11.25 7.25 11.59 7.25 12C7.25 12.41 7.59 12.75 8 12.75H11.25V16C11.25 16.41 11.59 16.75 12 16.75C12.41 16.75 12.75 16.41 12.75 16V12.75H16C16.41 12.75 16.75 12.41 16.75 12C16.75 11.59 16.41 11.25 16 11.25Z"
        fill="#eee"
      />
    </svg>
  </a>
</section>

<section class="cards_container">
  <dialog #card_modal class="dialog"></dialog>

  <ul>
    <app-card
      *ngFor="let entry of entries"
      website_url="{{ entry.site_url }}"
      website_name="{{ entry.site_name }}"
      [password_quantity]="1"
      image_link="{{ entry.site_image }}"
      item_id="{{ entry.id }}"
    />
  </ul>
</section>
