<app-navbar />
<form action="" class="create_entry_formulary">
  <div>
    <label for="site_name">Site name *</label>
    <input id="site_name" type="text" placeholder="Linkedin" />
  </div>

  <div>
    <label for="site_url">Site url </label>
    <input id="site_url" type="text" placeholder="www.linkedin.com" />
  </div>

  <div>
    <label for="email">Email *</label>
    <input id="email" type="text" placeholder="john@email.com" />
  </div>

  <div>
    <label for="site_url">Site image </label>
    <input id="site_url" type="text" placeholder="www.linkedin=image.png" />
  </div>

  <div>
    <label for="password">Password *</label>
    <input id="password" type="password" placeholder="****" />
  </div>

  <div>
    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Elton John" />
  </div>
</form>
