<app-navbar />
<section class="register_container">
  <h1>Register</h1>
  <form action="" id="register_form">
    <div>
      <label for="username">Username*</label>
      <input placeholder="Username" name="username" id="username" type="text" />
    </div>

    <div>
      <label for="email">Email*</label>
      <input placeholder="Email" name="email" id="email" type="email" />
    </div>

    <div>
      <label for="password">Account Password*</label>
      <input
        placeholder="********"
        name="password"
        id="password"
        type="password"
      />
    </div>

    <button class="button submit" (click)="register($event)">Continue</button>
  </form>

  <a routerLink="/register" class="button outlined">Log in with an account</a>
</section>
