<app-navbar />
<section class="register_container">
  <h1>Coming Soon !! 👷</h1>

  <!-- <form action="">
    <div>
      <label for="email">Email*</label>
      <input placeholder="Email" name="email" id="email" type="email" />
    </div>

    <div>
      <label for="master_password">Master Password*</label>
      <input
        placeholder="********"
        name="master_password"
        id="master_password"
        type="password"
      />
    </div>

    <button class="button submit">Continue</button>
  </form>

  <a routerLink="/register" class="button outlined">Log in with an account</a>
 --->
</section>
